<div class="d-flex">
  <div class="container m-0">
    <div class="row">
      <div class="col-3 sideImage">
      </div>
      <div class="col px-4 sideInfo">
        <h1 style="text-shadow: 2px 2px #7D7469">Add Your Info</h1>

        <%= render 'form', guest: @guest %>

      </div>
    </div>
  </div>
</div>
