// Specific CSS for your home-page
body {
  font-family: 'Arima Madurai', cursive;
}
#createdBy {
  position:absolute;
  right:10px;
  top: 10px;
  border-radius: 5px;
  background-color:rgba(165, 156, 148, 0.5);
  padding: 0 3px;
  max-width: 215px;
}
#createdBy p {
  margin: 0;
}
#createdBy:hover {
  #intro {
    font-weight: bolder;
  }
}
#freelance {
  display: none;
  color: white;
}

#intro {
  color: white;
  text-decoration: underline;
}

.background {
  text-align: center;
  background-repeat: no-repeat;
  background-position:center;
  background-size: 1500px;
}
@media only screen and (min-width: 500px) {
  .background {
    height: 130vh;
    border: 1px, solid, blue;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("Nursery_Crib_large_res.jpeg");
  }
  .linksDiv {
    width: 400px;
    color: white;
  }

  .linksDiv a,
   .linksDiv button{
    color: rgba(255, 228, 175, 0.85);
  }
  .linksDiv a:hover,
  .linksDiv button:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (max-width: 500px) {
  body {
    width: 400px;
  }
  .background {
    overflow:scroll;
    border: 1px, solid, blue;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("Nursery_Tent_portrait_medium_res.jpeg");
    background-size: cover;
  }
  .linksDiv {
    width: 300px;
    color:white;
  }
  .linksDiv a,
  .linksDiv button {
    color: rgba(255, 228, 175, 0.85);
  }
}

h1 {
  font-family: 'Corinthia', cursive;
  font-size: 72px;
  letter-spacing: .2rem;
  line-height: .75;
  color: white;
  font-weight: bold;
  padding: 15px 0;
}

h2 {
  font-family: 'Arima Madurai', cursive;
  margin-top:15px;
}
.mainInfoDiv {
  font-size:20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 20px;
  color: white;
}

.buttonsDiv {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid blue;
}
.buttonsDiv button {
  background-color: hsla(0, 0%, 100%, 0);
  color: white;
  font-weight: bold;
}

.buttonsDiv p {
  font-size:18px;
}

.linksDiv {
  margin-top: 15px;
  background-color:rgba(165, 156, 148, 0.5);
  padding: 5px;
  border-radius: 20px;
  margin: 0 auto;
  font-weight: bold;
}
.linksDiv a {
  font-weight: bold;
}

.label {
  background-color: white;
  color: rgb(165, 156, 148);
  border: 1px solid white;
  border-radius: 3px;
}

.button {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 5px;
  background-color: rgb(165, 156, 148);
  font-weight: bold;
  color: white;
}

.button:hover {
  background-color: white;
  color: black;
}
