.sideImage {
  height: 100vh;
  width: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("Nursery_Tent.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
  position:sticky;
  top: 0
}

body {
  background-color: #D9D8D7;
}

h1 {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  .sideInfo{
    // width: 90vw;
    margin: 30px auto;

  }
  .sideImage {
    width: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .sideImage {
    width: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .sideImage {
    display: none;
  }
  .sideInfo{
    margin: 15px;
  }
}
