<div id="clearance" class="sign-up">
  <h2>Are you trying to sign up? <br> Please contact the admin.</h2>
    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
</div>
