<div class="background" style="position: relative">
  <span><p id="notice" style="position:absolute; top: 10px; left: 10px;   background-color:rgb(165, 156, 148); color:black"><%= notice %></p></span>

  <span id="createdBy"><p id="intro">Website created by Janaya</p>
    <div id="freelance"><p>Janaya is a freelance web developer!
      Contact her if you'd like to have a website.</p>
      <a href="mailto:jnygripper@gmail.com" style="text-decoration:none;">
      jnygripper@gmail.com</a>
    </div>
  </span>

  <script>
    const createdBy = document.getElementById("createdBy")
    const freelance = document.getElementById("freelance")
    createdBy.addEventListener("click", (event) => {
      console.log(event);
      console.log(event.currentTarget);
       if (freelance.style.display === "none") {
          freelance.style.display = "block";
          createdBy.style.backgroundColor = "rgba(165, 156, 148, 0.85)";
        } else {
          freelance.style.display = "none";
        }
    });
  </script>

  <div class="header" style="width: 80vw; height: 100vh; margin:0 auto;">
      <div style="padding-top: 50px">
        <h1>Baby Zroh is on the way!</h1>
      </div>

      <div style="max-width: 550px; margin: 0 auto;">
        <div class="mainInfoDiv">
          <h2>Join the virtual baby shower!</h2>
          <p>Sunday, June 5th, 2022 | 3:00-4:30pm<br>
          <span style="font-size:16px">**RSVP by May 29th to be included in a special drawing**</span></p>
          <p>It would certainly be better to all be together but even apart,
          you can give Baby Zroh a good start. ❤ <br> Get something for the baby and
          send it to this special lady. Then join us for a call so she can share
          her joy with us all.</p>
        </div>

        <div class="linksDiv">
          <div class="my-3">
            <form action="/guests/:id/edit" method="get">
              <label for="phone_number">Enter your phone number to add/update your RSVP</label>
              <div>
              <input type="text" name="phone_number" placeholder="### - ### - ####" class="label">
              <input type="submit" value="RSVP", class="button" >
              </div>
            </form>
          </div>
          <p>Want to send a bit of your love to Montreal?</p>
          <p>Visit the <a href="https://amzn.to/3KQxCLS">Baby Registry</a>
          or <br> send a monetary gift with <a href="https://cash.app/$jnygrppr">CashApp</a></p>
        </div>
          <p style="padding: 10px 0">
              <%= link_to "More Info", questions_path, class: "btn btn-outline-light", style:"font-weight: bold;" %>
          </p>

      </div>
  </div>

</div>
