<div class="background" style="position: relative">
  <span style="position:absolute; right:10px; top: 10px"> <a href="mailto:jnygripper@gmail.com"> Website created by Janaya</a></span>
  <div class="header" style="width: 80vw; height: 100vh; margin:0 auto;">
      <div style="padding-top: 50px">
        <h1>Baby Zroh is on the way!</h1>
      </div>

      <div style="max-width: 550px; margin: 0 auto;">
        <div class="mainInfoDiv">
          <h2>Join the virtual baby shower!</h2>
          <p>Sunday, May 29th, 2022 | 2:30-4:00pm<br>
          <span style="font-size:16px">**RSVP by May 22nd to receive the Zoom details**</span></p>
          <p>It would certainly be better to all be together but even apart,
          you can give Baby Zroh a good start. ❤ <br> Get something for the baby and
          send it to this special lady. Then join us for a call so she can share
          her joy with us all.</p>
        </div>

        <div class="linksDiv">
          <div class="my-3">
            <%# <p id="rsvp" style="padding: 10px 0"><button type="button" class="btn btn-light">RSVP by May 22</button></p>
            <script>
              const rsvp = document.getElementById("rsvp")
              rsvp.addEventListener("click", (event) => {
                console.log(event);
                console.log(event.currentTarget);
                alert("Please text your FULL NAME and FULL ADDRESS to Tonya, 313-452-9897")
              });
            </script> %>

            <form action="/guests/:id/edit" method="get">
              <input type="text" name="phone_number" placeholder="Your phone number">
              <input type="submit" value="RSVP">
            </form>
          </div>
          <p>Want to send a bit of your love to Montreal?</p>
          <p>Visit the <a href="https://amzn.to/3KQxCLS">Baby Registry</a>
          or <br> send a monetary gift with <a href="https://cash.app/$jnygrppr">CashApp</a></p>
        </div>
          <p style="padding: 10px 0">
              <%= link_to "Questions", questions_path, class: "btn btn-outline-light", style:"font-weight: bold;" %>
          </p>

      </div>
  </div>


</div>
